.codeforces__stats {
    position: relative;
    transition: var(--transition);
    opacity: 50%;
}

.codeforces__stats img {
    position: absolute;
    top: 20px;
    right: 140px;
    width: 400px;
    object-fit: contain;
}

.codeforces__stats:hover {
    opacity: 100%;
}